body {
    background-color: rgb(158, 158, 158);
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}
input[type="submit"] {
    width: 120px;
    background-color: #327234;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #993232;
}
button {
    width: 100px;
    background-color: #327234;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #408f42;
}
input[type=text], select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d1d1d1;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 18px;

}

tr:nth-child(even) {
background-color: #6b6b6b;
}
tr:hover {background-color: #2b632d;}
