<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link type="text/css" rel="stylesheet" href="/css/addlisting.css">
	<title>Uusi ilmotus</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div class="col-md-4">
		<h1>Uusi ilmoitus</h1>
	</div>
	<div class="col-md-4">
		<a href="/index">
      <button>Takaisin</button>
    </a>
	</div>
	
    <form th:object="${listing}" th:action="@{../save}" action="#" method="post">

        <label for="price">Otsikko</label>
        <input type="text" id="price" th:field="*{name}"><br>

        <label for="kuvaus">Teksti</label><br>
        <textarea style="white-space: pre-wrap;" type="text" id="kuvaus" th:field="*{kuvaus}"></textarea>

        <label for="price">Hinta</label>
        <input type="text" id="price" th:field="*{price}">
        <div style="display: none">
          <select id="userlist" th:field="*{user.id}" class="form-control">
            <option th:each="user:${user}"
              th:value="${user.id}"
              th:text="${user.getUsername()}">
            </option>
          
          </select>
        </div>
        
        <label for="category">Kategoria</label>
        <select id="category" th:field="*{category.category_id}" class="form-control">
            <option th:each="category:${categories}"
                th:value="${category.category_id}"
                th:text="${category.name}"></option>
        
        </select>



        <input type="submit" value="save"></input>
    </form>



</body>
</html>