<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	

<head>

	<link type="text/css" rel="stylesheet" href="/css/index.css">
	<script>

		function rowClicked(value) {
			location.href = "/listing/" + value;
		}


		function search() {

		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("searchInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("listingTable");
		tr = table.getElementsByTagName("tr");
		
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
			txtValue = td.textContent || td.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
			}
		}
		}
	</script>



	<title>Tori</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	

	<div class="col-md-4">

		<h1>Ilmoitukset</h1>
		<h2 style="text-align: center;" th:inline="text">Hei [[${#httpServletRequest.remoteUser}]]!</h2>

		<form th:action="@{/logout}" method="post" style="float:right; clear:both;">
			<input type="submit" value="Kirjaudu ulos" />
		</form>
	</div>

	<a href="/addlisting">
		<button>Uusi ilmoitus</button>
	</a>

	

	<div style="text-align: center;">
		<input type="text" id="searchInput" placeholder="...">
		<button onclick="search()">Etsi</button>
	</div>
	<table id="listingTable" class="table table-striped table-bordered table-hover" >

		<tr>

			<th>Otsikko</th>
			<th>Hinta</th>
			<th>Kategoria</th>
			<th>Myyjä</th>
		</tr>
		<tr th:each="listing : ${listings}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${listing.listing_id} + '\');'">
			<td th:text="${listing.name}"></td>
			<td th:text="${listing.price} + '€'">Hinta</td>
			<td th:text="${listing.category.name}">Kategoria</td>
			<td th:text="${listing.user.getUsername()}">Myyjä</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${listing.listing_id})}" class="btn btn-xs btn-danger">Poista</a></td> 	
		</tr>
	</table>
	
</body>
</html>