<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tori</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	


	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form>
	</div>

	<a href="/index">
		<button>Takaisin</button>
	</a>
	<table class="table table-striped">
		<tr>

			<th>Ilmoitus</th>
			<th>Hinta</th>
			<th>Kategoria</th>
			<th>Myyjä</th>
		</tr>
		<tr th:each="listing : ${listings}">
			
			<td th:text="${listing.name}">Ilmoitus</td>
			<td th:text="${listing.price}">Hinta</td>
			<td th:text="${listing.category.name}">Kategoria</td>
			<td th:text="${listing.user.getUsername()}">Myyjä</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${listing.listing_id})}" class="btn btn-xs btn-danger">Poista</a></td>    		
		</tr>
	</table>
	
</body>
</html>